@charset "utf-8";
/* CSS Document */
div#wrap-feedback.wrap-feedback_fix_left{
	float:left;
	padding-right:0px;
	position:fixed;
	left:-1px;
	top:48%;
	z-index: 10005;
	border:1px solid #fff;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	box-shadow: 0 0 3px 0px #555;
	background: #ea5507; /* Old browsers */
	background: -moz-linear-gradient(top, #feccb1 0%, #fb955e 0%, #f17432 32%, #ea5507 90%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feccb1 0%,#fb955e 0%,#f17432 32%,#ea5507 90%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feccb1 0%,#fb955e 0%,#f17432 32%,#ea5507 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
	padding: 0 4px 10px 0;
	width: 25px;
	height: 115px;
	}
#feedback-button{
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
	position: relative;
	bottom: -90px;
}

a#user_feedback_form{
	color:#fff;
	width: 105px;
  text-align: center;
	display: inline-block;
	}
a#user_feedback_form:hover{
	color: #000;
	}
.hide-feedbackbuttom{
  position: absolute;
  left: 15px;
  bottom: 0px;
	cursor: pointer;
}
.show-feedbackbuttom{
	position: fixed;
	left: -4px;
	z-index: 1005;
	display: none;
	cursor: pointer;
}
div#overlay-div{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#000;
	opacity:0.5;
	z-index:10007;
	}
div#loading-form{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10008;
	background:url(images/window-loader.gif) center no-repeat;
	}

	@media screen and (min-device-width: 320px) and (max-device-width: 650px) {
		#wrap-feedback.wrap-feedback_fix_left{
			width: 20px!important;
  		height: 90px!important;
		}
		.km #wrap-feedback.wrap-feedback_fix_left{
  		height: 100px!important;
		}
		a#user_feedback_form{
		  font-size: 11px;
			padding: 0 0 0 15px;
		}
		.km a#user_feedback_form{
			padding: 0 0 0 10px;
		}
		.hide-feedbackbuttom {
			left: 10px;
		}
 
}
