#get-involve{
	display: inline-block;
}

div.tabs div.involve {
	background-color:#F4F4F4;
  border: 1px solid #97A9B4;
  display: inline-block;
	padding: 0;
}
.involve-content {
	margin: 1em 1em 1em 1.4em;
}
div#close-button{
	background-image:url(images/close-button.png);
	float:left;
	width:20px;
	height:24px;
	position:absolute;
	right:5px;
	top:5px;
	z-index: 8;
	cursor:pointer;
	}
#involve-desc{
	display: none;
}
div#user_feedback_form_fix_left{
	width:719px;
	max-height: 500px;
	overflow-y: auto;
	position:fixed;
	z-index:999999;
	float:left;
	background-color:#FFF;
	border:2px solid #060;
	padding:20px;
	border-radius:4px;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	margin: 2% auto;
	display: none;
	-webkit-transition-property:margin;
	-moz-transition-property:margin;
	-o-transition-property:margin;
	transition-property:margin;
	-webkit-transition-duration:200ms;
	-moz-transition-duration:200ms;
	-o-transition-duration:200ms;
	transition-duration:200ms;
	}
div#user_feedback_form_container{
	font-family: inherit !important;
	margin-bottom: 1em;
	margin-top: 5px;
}

div#user_feedback_form_container .tabs{
	border:none;
	padding:0px;
	width:719px;
	margin-top:0;
	}
.ui-widget *{
	outline:none;
	}

div#user_feedback_form_container .tabs > div:first-child{
	border:1px solid #97A9B4;
	padding:10px 15px 15px 15px;
	float:left;
	margin-bottom: 1em;
	}

div#user_feedback_form_container ul{
	padding:0px;
	background:none;
	border: 0px;
	border-bottom:1px solid #97A9B4;
	border-radius:0px;
	height:37px;
	}
div#user_feedback_form_container ul li{
	margin:0px 5px 0px 0px;
	height:36px;
	font-size:12px;
	background:url(images/tab-head-background.png) 0 0 repeat-x;
	font-weight:bold
	}
div#user_feedback_form_container ul li:first-child{

	}
div#user_feedback_form_container ul li:last-child{
	margin-right:0px;
	}
div#user_feedback_form_container ul li.ui-state-active{
	background:url(images/tab-head-background-selected.png) 0 0 repeat-x;
	padding-bottom:0px;
	height:37px;
	border-color:#97A9B4;
	}
div#user_feedback_form_container ul li.ui-state-active:focus{
	color:#F00;
	}
div#user_feedback_form_container ul li.ui-state-active a{
	color: black;
	}
div#user_feedback_form_container ul li a{
	display:block;
	height:100%;
	padding:0 0.5em;
	line-height:36px;
	padding-left:2.5em;
	}
li#ask-question a{
	background:url(images/question-mark.png) 7px 50% no-repeat;
	}
li#report-problem a{
	background:url(images/exclamation-mark.png) 7px 50% no-repeat;
	}
li#share-idea a{
	background:url(images/tips-mark.png) 7px 50% no-repeat;
	}
li#send-feedback a{
	background:url(images/texting-tooltip.png) 7px 50% no-repeat;
	}
li#submit-resource a{
	background:url(images/resource.png) 7px 50% no-repeat;
	}
div#user_feedback_form_container div.tabs textarea{
	width:655px;
	border:none;
	box-shadow: 0px 0px 4px #666666;
	font-size:13px;
	padding:10px;
	-ms-overflow-y:auto;
	margin-bottom:10px;
	font-family: inherit;
	}
div#user_feedback_form_container div.tabs input{
	font-size: 13px;
	height:29px;
	font-family:inherit;
	}
div#user_feedback_form_container input.file-upload{
	visibility:hidden;
	width:1px;
	}
div#user_feedback_form_container input.fake-text, div.tabs input.email{
	width:420px;
	float:left;
	height:25px;
	padding: 0px 0px 0px 10px;
	box-shadow: 0px 0px 2px #666666;
	border:none;
	margin-top:2px;
	margin-bottom:8px;
	}
div.tabs input.fake-browse, div.tabs input.submit-button{
	width:70px;
	float:left;
	background:url(images/browse-button-back.png) repeat-x;
	border:1px solid #97A9B4;
	border-radius:5px;
	font-family:inherit;
	margin-left:10px;
	}

div.tabs input.submit-button{
	width:135px;
	height:29px;
	margin-left:0;
	margin-top: 0.1em;
	clear:left;
	}
.recaptcha{
	margin-right: 15px;
	float: left;
}
.recaptcha label{
	margin-bottom: 10px;
	font-weight: normal;
}
#refresh-icon, #refreshing-icon{
	font-size: 21px;
  margin-left: -20px;
  color: #888;
  cursor: pointer;
}
#refreshing-icon{
	display: none;
}
div.tabs input.fake-browse:hover, div.tabs input.submit-button:hover{
	cursor:pointer;
	border-color:#5c7a8c;
}
div.tabs input.submit-button:disabled{
	border:1px solid #97A9B4;
	}

div#user_feedback_form_container div.tabs div.submit-div{
	border:none;
	padding-left:1em;
	padding-top:20px;
	}
span.needed{
	color:#F00;
	float:left;
	margin-top:0;
	margin-left:20px;
	font-size:12px;
	display:none;
	}
/*NEXT-----------------------------------------------------*/

#wrapper{
	width:719px;
	margin:auto;
	overflow:hidden;
	}
.long-all{
	float:left;
	width:100%;
	position:relative;
	left:0px;
	transition-property:left;
	-webkit-transition-property:left;
	-o-transition-property:left;
	-moz-transition-property:left;

	transition-duration:800ms;
	-webkit-transition-duration:800ms;
	-moz-transition-duration:800ms;
	-o-transition-duration:800ms;
	}

#thanks-msg{
	display: none;
	width:96%;
	position: absolute;
	top: 48%;
	text-align:center;
	}
.view_upload_status{
	float: right;
  max-width: 240px;
  margin-right: 0;
	line-height:20px;
	font-size: 13px;
	position: relative;
	top: 0;
	}

.view_upload_status div{
	display: none;
	}
.successful_status a, .successful_status span{
	display: inline-block;
}
div.view_upload_status a{
	color: green;
}
div.view_upload_status a:hover{
		color: #000;
		text-decoration: underline;
}
.deleted-status{
	color: green;
	display: none;
}
a.a-normal{
	color:#00E !important;
	}
#disclaimer{
	float:left;
	clear:both;
	margin: 5px 1em 0 ;
	}
.disclaimer-p{
	font-size: smaller;
}
div.process-state{
	float:left;
	height:29px;
	margin-left:20px;
	width:29px;
	display:none;
	}
.process-state-submit{
	float:left;
	height:29px;
	margin-left:-30px;
	margin-top: 2px;
	width:29px;
	display:none;
	}
.process-state,
.process-state-submit{
	background-image:url(../images/processloading-small.gif);
	background-position:center;
	background-repeat:no-repeat;
	}
.process-state-done {
	background-image:url(../images/tick.png);
	background-position:center;
	background-repeat:no-repeat;
	}
.error-status{
	float: left;
	margin: 8px 2px 0 1em;
	width: 75%;
}
.error-upload{
	float:right;
	margin-right: 10px;
	border:none;
	display:none;
	color:#F00;
	text-align: left;
}
.submit-error{
	color:#F00;
	display: none;
}
.recaptcha-error{
	color:#F00;
	display: none;
}
.g-recaptcha{
	float: left;
	margin-left: 1.5em;
}
.g-recaptcha textarea#g-recaptcha-response{
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;
}
.hide{
	display: none;
}

	@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
		div#user_feedback_form_fix_left {
    	width: 96%;
    	max-height: 400px;
    	margin: 20% auto;
			padding: 0
		}

		div#user_feedback_form_container {
		    padding: 0.7em;
		}
		#user_feedback_form_fix_left #wrapper {
    	width: 100%;
		}

		.long-all, #get-involve {
		    width: 100%;
		}

		div#user_feedback_form_container .tabs {
		    width: 100%;
		    margin-top: 0;
		}
		div#user_feedback_form_container ul {
	    height: 33px;
		}
		div#user_feedback_form_container ul li a {
	    padding-left: 1.5em;
	    background-size: 14px;
	    background-position-x: 4px;
			font-weight: 500;
		}
		#user_feedback_form_container ul li{
			height: 32px !important;
			margin-bottom: 1px;
		}
		#user_feedback_form_container ul li.ui-state-active {
			height: 32px !important;
		}
		div.tabs div.involve {
		    width: 98%;
		}
		.involve-content {
		  margin: .8em;
    	width: 87%;
		}
		.involve-content p {
	    font-size: 12px;
		}
		div#user_feedback_form_container div.tabs textarea {
    	width: 96%;
    	max-height: 120px;
		}
		div#user_feedback_form_container input.fake-text{
			width: 62%;
		}

}
